@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background: #eee;
    height: auto;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}

img {
    display: block;
    width: 100%
}

main {
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
        -30px 0px 40px rgba(0, 0, 0, 0.1);
}

.v-header {
    height: 50vh;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
    max-width: 900px;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
        -30px 0px 40px rgba(0, 0, 0, 0.1);
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 55%;
    justify-content: center
}

.header-overlay {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 875px;
    height: 50vh;
    position: absolute;
    z-index: 2;
    background: #a03919;
    opacity: 0.35;
    margin: auto;
}

.header-content {
    z-index: 2;
     text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.header-content h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
}

#landing {
    background: #ffffff
}

#landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    

}

#landing-text h2 {
    color: #888
}

#landing-image {
    background: url(../images/IMG_1842.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    flex: 0 1 60vw;
    margin: 0;
}

.btn {
    padding: 0.5rem 2rem;
    border: 1px #888888 solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
}

.btn:hover {
    background: #fb3310
}

#header {
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #ffffff;
}

#header h2 {
    border-left: dotted 1px #ffffff;
    border-right: dotted 1px #ffffff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

.caption {
    padding: 0.8rem;
    text-align: center;
}

footer {
    padding: 2rem 1rem;
    text-align: center;
    margin: auto;
    color: #333
}

footer h3 {
    padding: 3rem;
    margin-bottom: 0;
}

/* Split screen for sizes 500px and up */
@media(min-width: 500px) {
    #landing {
        display: flex;
        height: 100%;
    }

    #landing-text {
        height: 100vh;
    }

    #landing-image {
        height: 100vh;
    }
}

/* for screen sizes 700px and up */
@media(min-width: 700px) {
    .btn {
        padding: 1rem 3rem;
    }
}