@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Bitter');

body {
    font-family: 'Bitter', sans-serif;
    margin: auto;
    background: #eee;
    height: auto;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin: 0;
}

h1.form-title {
    font-family: 'Bitter', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}

img {
    width: 100%
}

main {
    max-width: 900px;
    margin: auto;
    -webkit-box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
        -30px 0px 40px rgba(0, 0, 0, 0.1);
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
        -30px 0px 40px rgba(0, 0, 0, 0.1);
}

label,
input,
textarea {
    display: block;
    color: #000000;
    line-height: 1.25em;
    padding-bottom: .5%;
    padding: 2%;
}

label1 {
    color: #000000;
    line-height: 1.25em;
    padding-bottom: .5%
}

label2 {
    display: block;
    line-height: 1.25em;
    padding-bottom: .5%;
    color: #da2100;
    text-decoration: underline;
}

checkbox-wrapper li {
    display: inline;
    display: table-cell;
    padding-bottom: 10px;
}

.middle {
    text-align: center;
    margin: auto;
    list-style: none;
    color: rgb(247, 247, 247);
}

.status {
    padding: 0px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    font-size: 10;
}

#navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.8);
    text-align: center;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Navbar links */
#navbar a {
    color: #000000;
    background-color: #fff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin: auto;
    -webkit-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;
}

#navbar :hover {
    background: #da2100;
    color: #eee;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1001;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 40px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-style {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
}

.title {
    text-align: center;
}

.title span {
    color: #ffff;
}

.wrapper {
    -webkit-box-shadow: 0 0 10px 0 rgba(72, 94, 116, 0.7);
    box-shadow: 0 0 10px 0 rgba(72, 94, 116, 0.7);
}

.wrapper>* {
    padding: 1em;
}

.company-info {
    background: #333333;
}

.company-info h3,
.company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
    color: #F7F7F7;
}


.contact {
    background: white;
}

.contact h3 {
    background: #ed3742;
    border-radius: 12px;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1em;
    padding-bottom: 1rem;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

/* FORM STYLES */
.contact form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label {
    display: block;
}

.contact form p {
    margin: 0;
}

.contact form .full {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
}

.contact form .checkbox-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-areas: "left right";
    width: 150px;
    -ms-grid-columns: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 1em;
    padding: 3%;
    border: 1px solid rgb(209, 171, 67);
}

.contact form button {
    font-family: 'Bitter',
        sans-serif;
    border: 0;
    text-transform: uppercase;
    background: #c40d19;
    -webkit-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;
    border-radius: 12px;
    color: #eee;
    font-weight: 400;
    font-size: 1.5rem;
}

.contact form button:hover,
.contact form button:focus {
    background: #da2100;
    color: #eee;
}

#landing {
    background: #ffffff
}

#landing-text {
    background: url(../images/IMG_1840.PNG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 40vw;
    flex: 0 1 40vw;
    height: 50vh;
    margin-bottom: 10px;
}

#landing-text h2 {
    color: #888
}

.btn {
    padding: 0.5rem 2rem;
    border: 1px #888888 solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    background: #eee;
    -webkit-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 500ms ease;
}

.btn:hover {
    background: #da2100;
    color: #eee;
}

#header {
    border-top: solid 1px #ffffff;
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #ffffff;
}

#header h2 {
    border-left: dotted 1px #ffffff;
    border-right: dotted 1px #ffffff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

.caption {
    padding: 0.8rem;
    text-align: center;
}

footer {
    padding: 2rem 1rem;
    text-align: center;
    margin: auto;
    color: #333
}

footer h3 {
    padding: 3rem;
    margin-bottom: 0;
}

a {
    padding: 0%;
}

.arrows {
    display: none;
}

/* Strictly mobile view. mainy ommitions (video) */
@media(max-width: 699px) {
    video {
        display: none;
    }

    .v-header {
        display: none;
    }

    .fullscreen-video-wrap {
        display: none;
    }

    .header-content h1 {
        display: none;
    }

    .v-header.container {
        display: none;
    }

    .container {
        display: none;
    }
}

/* Split screen for sizes 500px and up */
@media(min-width: 500px) {
    #landing {
        /* display: flex; */
        height: 100%;
    }

    #landing-text {
        /* height: 100vh; */
        display: none;
    }

    #landing-image {
        height: 150vh;
    }

    checkbox-wrapper li {
        display: block;
        float: left;
        width: 33%;
        display: table-cell;
        padding-bottom: 3px;
    }
}

/* for screen sizes 700px and up */
@media(min-width: 700px) {

    main {
        max-width: 900px;
    }

    video {
        width: 100% !important;
        height: 100% !important;
    }

    .v-header.container {
        padding-bottom: 0%;
    }

    .v-header {
        height: 100vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #ffffff;
    }

    .fullscreen-video-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .container {
        padding-left: 1rem;
        padding-right: 1rem;
        margin: auto;
        text-align: center;
        max-width: 900px;
        -webkit-box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
            -30px 0px 40px rgba(0, 0, 0, 0.1);
        box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
            -30px 0px 40px rgba(0, 0, 0, 0.1);
        padding-bottom: 4%;
    }

    .header-content {
        -webkit-transform: translate3d(0, 0, 0);
        z-index: 2;
        margin: auto;
        width: 70%;
    }

    img.fullscreen {
        z-index: 1000;
        width: 85%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .header-content h1 {
        z-index: 1001;
        color: #c02f1d;
        font-size: 3vw;
        margin-bottom: 0;
        margin-top: 2%;
        text-align: center;
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        text-shadow: -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .header-content p {
        float: left;
        clear: left;
        /* z-index: 1001; */
        width: 100%;
        left: 0;
        max-height: 50%;
        font-size: 2vw;
        display: block;
        white-space: nowrap;
        text-align: center;
        position: absolute;
        top: 80%;
        text-shadow: -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        max-width: 900px;
        z-index: 1001;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #landing-image {
        height: 115vh;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 60vw;
        flex: 0 1 60vw;
        margin: 0;
    }

    .wrapper {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper>* {
        padding: 2em;
    }

    .company-info h3,
    .company-info ul,
    .title {
        text-align: left;
    }

    .btn {
        padding: 1rem 3rem;
    }

    .button {
        z-index: 1000;
        width: 30px;
        height: 30px;
        position: absolute;
        cursor: pointer;
    }

    .prev {
        z-index: 1000;
        left: 5%;
        margin-top: 25%
    }

    .next {
        z-index: 1000;
        right: 7%;
        margin-top: 25%
    }

    .button2 {
        z-index: 1000;
        width: 30px;
        height: 30px;
        position: absolute;
        cursor: pointer;
    }

    .prev2 {
        z-index: 1000;
        left: 5%;
        margin-top: 25%
    }

    .next2 {
        z-index: 1000;
        right: 7%;
        margin-top: 25%
    }

    /* buttons */
    .button1 {
        z-index: 1000;
        width: 30px;
        height: 30px;
        position: absolute;
        cursor: pointer;
    }

    .prev1 {
        z-index: 1000;
        left: 5%;
        margin-top: 25%
    }

    .next1 {
        z-index: 1000;
        right: 7%;
        margin-top: 25%
    }

    .arrows {
        display: block;
    }

    .rotate90 {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
    @import url('https://fonts.googleapis.com/css?family=Bitter');

    body {
        font-family: 'Bitter', sans-serif;
        margin: auto;
        background: #eee;
        height: auto;
    }

    h1 {
        font-weight: 400;
        font-size: 2.5rem;
        text-transform: capitalize;
        margin: 0;
    }

    h1.form-title {
        font-family: 'Bitter', sans-serif;
        font-weight: 400;
        font-size: 2.5rem;
        text-transform: capitalize;
        margin: 0;
    }

    h2 {
        font-weight: 400;
        font-size: 1.2rem;
        text-transform: capitalize;
        margin: 0;
    }

    img {
        width: 100%
    }

    main {
        max-width: 900px;
        margin: auto;
        -webkit-box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
            -30px 0px 40px rgba(0, 0, 0, 0.1);
        box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
            -30px 0px 40px rgba(0, 0, 0, 0.1);
    }

    label,
    input,
    textarea {
        display: block;
        color: #000000;
        line-height: 1.25em;
        padding-bottom: .5%;
        padding: 2%;
    }

    label1 {
        color: #000000;
        line-height: 1.25em;
        padding-bottom: .5%
    }

    label2 {
        display: block;
        line-height: 1.25em;
        padding-bottom: .5%;
        color: #da2100;
        text-decoration: underline;
    }

    checkbox-wrapper li {
        display: inline;
        display: table-cell;
        padding-bottom: 10px;
    }

    .middle {
        text-align: center;
        margin: auto;
        list-style: none;
        color: rgb(247, 247, 247);
    }

    .status {
        padding: 0px;
        background-color: #f44336;
        color: white;
        margin-bottom: 15px;
        font-size: 10;
    }

    #navbar {
        overflow: hidden;
        background-color: rgb(255, 255, 255, 0.8);
        text-align: center;
        margin: auto;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /* Navbar links */
    #navbar a {
        color: #000000;
        background-color: #fff;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        margin: auto;
        -webkit-transition: background 500ms ease;
        -o-transition: background 500ms ease;
        transition: background 500ms ease;
    }

    #navbar :hover {
        background: #da2100;
        color: #eee;
    }

    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 1001;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky+.content {
        padding-top: 40px;
    }

    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form-style {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .title {
        text-align: center;
    }

    .title span {
        color: #ffff;
    }

    .wrapper {
        -webkit-box-shadow: 0 0 10px 0 rgba(72, 94, 116, 0.7);
        box-shadow: 0 0 10px 0 rgba(72, 94, 116, 0.7);
    }

    .wrapper>* {
        padding: 1em;
    }

    .company-info {
        background: #333333;
    }

    .company-info h3,
    .company-info ul {
        text-align: center;
        margin: 0 0 1rem 0;
        color: #F7F7F7;
    }


    .contact {
        background: white;
    }

    .contact h3 {
        background: #ed3742;
        border-radius: 12px;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 1em;
        padding-bottom: 1rem;
        font-size: 140%;
        font-weight: 300;
        text-align: center;
        color: #fff;
        margin: -16px -16px 16px -16px;
    }

    /* FORM STYLES */
    .contact form {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
        /* grid-gap: 20px; */
        grid-template-areas: "left right";
        grid-template-rows: 1fr 1fr;
    }

    .contact form label {
        display: block;
    }

    .contact form p {
        margin: 0;
    }

    .contact form .full {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3;
    }

    .contact form .checkbox-wrapper {
        display: -ms-grid;
        display: grid;
        grid-template-areas: "left right";
        width: 150px;
        -ms-grid-columns: 1fr 4fr;
        grid-template-columns: 1fr 4fr;
    }

    .contact form button,
    .contact form input,
    .contact form textarea {
        width: 100%;
        padding: 1em;
        padding: 3%;
        border: 1px solid rgb(209, 171, 67);
    }

    .contact form button {
        background: #c9e6ff;
        border: 0;
        text-transform: uppercase;
        background: #c40d19;
        -webkit-transition: background 500ms ease;
        -o-transition: background 500ms ease;
        transition: background 500ms ease;
        border-radius: 12px;
        color: rgb(255, 255, 255);
    }

    .contact form button:hover,
    .contact form button:focus {
        background: #8a0000;
        color: #ffff;
        outline: 0;
        -webkit-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
    }

    #landing {
        background: #ffffff
    }

    #landing-text {
        background: url(../images/IMG_1840.PNG);
        background-position: center;
        -webkit-background-size: contain;
        background-size: contain;
        background-repeat: no-repeat;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 40vw;
        -webkit-flex: 0 1 40vw;
        flex: 0 1 40vw;
        height: 50vh;
        margin-bottom: 10px;
    }

    #landing-text h2 {
        color: #888
    }

    .btn {
        padding: 0.5rem 2rem;
        border: 1px #888888 solid;
        display: inline-block;
        margin: 2rem 0 0;
        border-radius: 50px;
        text-decoration: none;
        color: #333;
        background: #eee;
        -webkit-transition: background 500ms ease;
        -o-transition: background 500ms ease;
        transition: background 500ms ease;
    }

    .btn:hover {
        background: #da2100;
        color: #eee;
    }

    #header {
        border-top: solid 1px #ffffff;
        padding: 1.5rem;
        text-align: center;
        background: #333;
        color: #ffffff;
    }

    #header h2 {
        border-left: dotted 1px #ffffff;
        border-right: dotted 1px #ffffff;
        display: inline-block;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .caption {
        padding: 0.8rem;
        text-align: center;
    }

    footer {
        padding: 2rem 1rem;
        text-align: center;
        margin: auto;
        color: #333
    }

    footer h3 {
        padding: 3rem;
        margin-bottom: 0;
    }

    a {
        padding: 0%;
    }

    .arrows {
        display: none;
    }

    /* Strictly mobile view. mainy ommitions (video) */
    @media(max-width: 699px) {
        video {
            display: none;
        }

        .v-header {
            display: none;
        }

        .fullscreen-video-wrap {
            display: none;
        }

        .header-content h1 {
            display: none;
        }

        .v-header.container {
            display: none;
        }

        .container {
            display: none;
        }
    }

    /* Split screen for sizes 500px and up */
    @media(min-width: 500px) {
        #landing {
            /* display: flex; */
            height: 100%;
        }

        #landing-text {
            /* height: 100vh; */
            display: none;
        }

        #landing-image {
            height: 150vh;
        }

        checkbox-wrapper li {
            display: block;
            float: left;
            width: 33%;
            display: table-cell;
            padding-bottom: 3px;
        }
    }

    /* for screen sizes 700px and up */
    @media(min-width: 700px) {

        main {
            max-width: 900px;
        }

        video {
            width: 100% !important;
            height: 100% !important;
        }

        .v-header.container {
            padding-bottom: 0%;
        }

        .v-header {
            height: 100vh;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            color: #ffffff;
        }

        .fullscreen-video-wrap {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .container {
            padding-left: 1rem;
            padding-right: 1rem;
            margin: auto;
            text-align: center;
            max-width: 900px;
            -webkit-box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
                -30px 0px 40px rgba(0, 0, 0, 0.1);
            box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
                -30px 0px 40px rgba(0, 0, 0, 0.1);
            padding-bottom: 4%;
        }

        .header-content {
            -webkit-transform: translate3d(0, 0, 0);
            z-index: 2;
            margin: auto;
            width: 70%;
        }

        img.fullscreen {
            z-index: 1000;
            width: 85%;
            margin: 0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
        }

        .header-content h1 {
            z-index: 1001;
            color: #c02f1d;
            font-size: 3vw;
            margin-bottom: 0;
            margin-top: 2%;
            text-align: center;
            position: absolute;
            top: 90%;
            left: 0;
            width: 100%;
            text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
        }

        .header-content p {
            float: left;
            clear: left;
            /* z-index: 1001; */
            width: 100%;
            left: 0;
            max-height: 50%;
            font-size: 2vw;
            display: block;
            white-space: nowrap;
            text-align: center;
            position: absolute;
            top: 80%;
            text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            max-width: 900px;
            z-index: 1001;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #landing-image {
            height: 115vh;
            -webkit-box-flex: 0;
            -ms-flex: 0 1 60vw;
            -webkit-flex: 0 1 60vw;
            flex: 0 1 60vw;
            margin: 0;
        }

        .wrapper {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 1fr 2fr;
            grid-template-columns: 1fr 2fr;
        }

        .wrapper>* {
            padding: 2em;
        }

        .company-info h3,
        .company-info ul,
        .title {
            text-align: left;
        }

        .btn {
            padding: 1rem 3rem;
        }

        .button {
            z-index: 1000;
            width: 30px;
            height: 30px;
            position: absolute;
            cursor: pointer;
        }

        .prev {
            z-index: 1000;
            left: 5%;
            margin-top: 25%
        }

        .next {
            z-index: 1000;
            right: 7%;
            margin-top: 25%
        }

        .button2 {
            z-index: 1000;
            width: 30px;
            height: 30px;
            position: absolute;
            cursor: pointer;
        }

        .prev2 {
            z-index: 1000;
            left: 5%;
            margin-top: 25%
        }

        .next2 {
            z-index: 1000;
            right: 7%;
            margin-top: 25%
        }

        /* buttons */
        .button1 {
            z-index: 1000;
            width: 30px;
            height: 30px;
            position: absolute;
            cursor: pointer;
        }

        .prev1 {
            z-index: 1000;
            left: 5%;
            margin-top: 25%
        }

        .next1 {
            z-index: 1000;
            right: 7%;
            margin-top: 25%
        }

        .arrows {
            display: block;
        }
    }
}